.container-layout {
  display: grid;
  grid-template-columns: 76% 22%;
  grid-gap: 2%;
}

.card {
  padding: 6% 12%;
  box-shadow: 0px 4px 35px 0px #a8acb030;
  border-radius: 4px;
}

.half {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2%;
  border-bottom: 1px solid #a8acb030;
}

.title-halves {
  display: grid;
  grid-template-columns: 85% 15%;
}

.toast {
  position: absolute;
  right: 0px;
  background-color: #0097d3ce;
  color: #fff !important;
  padding: 10px;
  padding-left: 30px;
}

@media (max-width: 912px) {
  .container-layout {
    display: grid;
    grid-template-columns: 78% 22%;
  }
}

@media (max-width: 540px) {
  .container-layout {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2%;
  }
}
