.people-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  padding: 2% 5%;
}

.people-home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
  padding: 2% 5%;
}

.people-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}

@media (max-width: 912px) {
  .people-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .people-home-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 540px) {
  .people-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
