.people-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  padding: 10%;
}

.people-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}
