.starship-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  /* padding: 10%; */
  padding: 2% 5%;
}

.starships-container {
  margin-bottom: 13%;
  margin-bottom: 3%;
}

@media (max-width: 912px) {
  .starship-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .starship-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1%;
  }
}
