.home {
  max-width: 100%;
  margin-top: 3%;
  padding: 2% 5%;
  margin-bottom: 13%;
}

.home-container {
  height: 100%;
}

.home-container-title {
  margin-left: 12%;
}

@media (max-width: 912px) {
  .home {
    padding: 1% 0%;
    padding-right: 2%;
  }
}

@media (max-width: 540px) {
  .home-film-sidebar {
    margin-top: 34rem !important;
    background: #cecece1c;
    display: block;
    margin-bottom: 14rem !important;
    text-align: center;
  }

  .film-card {
  }

  .home-film-sidebar h2 {
    margin-left: 10% !important;
  }
}
