.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* box-shadow: 0px 4px 35px 0px #a8acb030; */
  margin-top: 0px;
  padding-top: 0px;
  border-bottom: 2px solid #0097d338;
  padding: 0% 5%;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Krona One', sans-serif;
  color: #0097d3ce;
  margin-top: 9px;
  /* margin-left: 19px; */
}
