.navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #272727a8;
  font-weight: bold;
  font-size: 16x;
  padding: 17px 14px;
}

.active-navbar {
  background-color: #0097d3ce;
  color: #fff !important;
}
