.footer {
  text-align: center;
  border-top: 2px solid #0097d338;
  padding: 1%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  margin-top: 10px;
}

.footer-logo {
  font-family: 'Krona One', sans-serif;
  font-size: 12px;
}

@media (max-width: 540px) {
  .footer {
    left: 25%;
    padding: 5%;
  }
}
