.search-container {
  width: 90%;
  padding: 2% 5%;
  margin-top: 2%;
}

.search-container input[type='text'] {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  width: 89%;
  margin: auto;
  outline: none;
  font-size: 16px;
}
